@font-face { 
    src: url("CursedTimerUlil.ttf");
    font-family: "Cursed Timer Ulil";
}

* {
    padding: 0;
    margin: 0;
}
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-around;
    background: #1B244A;
    width: 500px;
    height: 270px;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 5px;
}

.team-title {
    font-family: 'Verdana';
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    text-align: center;
    color: #EEEEEE; 
    margin-bottom: 25px;
}

.scorebox {
    width: 155px;
    height: 120px;
    background: #080001;
    border-radius: 5px;
    padding: 0 20px;
    margin: 25px 0;
}

.score {
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    text-align: center;
    color: #F94F6D;
}

.plus-btn {
    width: 45px;
    height: 45px;
    color: #9AABD8;
    font-family: "Cursed Timer Ulil";
    border-radius: 5px;
    border: 1px solid #9AABD8;
    background: transparent;
}

.plus-btn:hover {
    color: #1B244A;
    border-color: #1B244A;
    background: #9AABD8;
}